<div class="hm--ttl-bar" ng-controller="TitleBarController as tb">
	<div class="hm--cntnt hm--flx-btwn">
		<div class="hm--ttl-logo">
			<img class="hm--ttl-img" src="{{ tb.logo }}" />
		</div>
		<div class="hm--ttl-log">
			<div class="hm--ttl-sn">
				<p>{{ tb.signUp }}</p>
			</div>
			<div class="hm--ttl-ln">
				<p>{{ tb.logIn }}</p>
			</div>
		</div>
	</div>
</div>

<div class="hm--vd-cntr">
	<div class="hm--vd-cntnt">
		<div class="hm--vd-ply">
		</div>
	</div>
	<div class="hm--mr-bar">
	</div>
	<div class="hm--dts-cntr">
	</div>
	<div class="hm--mr-txt">
		<p>MORE GAMES TONIGHT</p>
	</div>
</div>


<div class="hm--cntnt">
	<div class="hm--gms-desc">
		<div class="hm--gms-dstxt">
			<p>Other games tonight:</p>
		</div>
		<div class="hm--gms-dstxt">
			<p>Past Games</p>
		</div>
	</div>
</div>

<div class="hm--gms-cntr">
	<div class="hm--cntnt">
		<div class="hm--gm-cntr">
			<div class="hm--gm-desc">
				<p>POR vs LAC</p>
			</div>
			<div class="hm--gm-img">
				<div class="hm--gm-fill">
					<div class="hm--gm-tm">
						<div class="hm--gm-hm">
						</div>
						<div class="hm--gm-wy">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="selectTeamHeader">
	<p>Playing Tonight</p>
	<h3>Choose a game</h3>
</div>

<div class="row card" ng-repeat="game in games" ng-click="viewStreams(game.teamNames)">
	<div class="column text-center">
		<img ng-src={{game.logo[0]}} />
		<h4>{{game.teamNames[0]}}</h4>
		<h5>{{game.scores[0]}}</h5>
	</div>
	<div class="column text-center">
	VS <br /> {{game.status}}
	</div>
	<div class="column text-center">
		<img ng-src={{game.logo[1]}} />
		<h4>{{game.teamNames[1]}}</h4>
		<h5>{{game.scores[1]}}</h5>
	</div>
</div>

<div class="row card" ng-show="!games.length">There are no games tonight</div>

<!-- <pre>{{games | json}}</pre> -->

<button ng-click='action()'>Button</button>
<button ui-sref="select">Back</button>
