<!-- Title Bar that sits above the screen -->
<div class="ttl--bar" ng-controller="TitleBarController as tb">
	<div class="cntnt flx-btwn">
		<div class="ttl--logo">
			<img class="ttl--img" src="{{ tb.logo }}" />
		</div>
		<div class="ttl--log">
			<div class="ttl--sn">
				<p>{{ tb.signUp }}</p>
			</div>
			<div class="ttl--ln">
				<p>{{ tb.logIn }}</p>
			</div>
		</div>
	</div>
</div>

<!-- Main Video content with description and red bar -->
<div class="vd--cntr">
	<div class="vd--cntnt">
		<div class="dts--cntr cntnt flx-bttm">
			<div class="dts--spc">
				<div>
					<p class="dts--txt-ttl mrgn-bttm-smll"><b>GSW vs LAL</b> - Choose your team</p>
				</div>
				<div class="dts--tms flx-left">
					<div class="dts--tm">
						<div class="dts--tm-fl">
							<div class="dts--tm-img">
								<img src="" />
							</div>
							<div class="dts--tm-txt">
								<p class="dts--txt-wtch">Watch</p>
								<p class="dts--txt-fns">fans</p>
							</div>
						</div>
					</div>
					<div class="dts--vs wdth-intl">
						<p>VS</p>
					</div>
					<div class="dts--tm">
						<div class="dts--tm-fl">
							<div class="dts--tm-img">
								<img src="" />
							</div>
							<div class="dts--tm-txt">
								<p class="dts--txt-wtch">Watch</p>
								<p class="dts--txt-fns">fans</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mrgn-bttm-smll">
					<p class="dts--txt-ttl">Quality:</p>
				</div>
				<div>
					<button class="dts--btn-fr">480p</button>
					<button class="dts--btn-svn">Guaranteed 720p</button>
				</div>
			</div>
		</div>
		<div class="vd--mr-bar">
		</div>
		<div class="vd--mr-txt">
			<p>More Games Tonight</p>
		</div>

		<!-- Stream the video here... -->
		<div class="vd--ply">
		</div>
	</div>
</div>

<!-- Bar to introduce other games -->
<div class="cntnt">
	<div class="gms--desc">
		<div class="gms--dstxt">
			<p>Other games tonight:</p>
		</div>
		<div class="gms--dstxt">
			<p>Past Games</p>
		</div>
	</div>
</div>

<!-- Container for current and past games -->
<div class="gms--cntr">
	<div class="cntnt-rght">
		<div class="gm--cntr">
			<div class="gm--desc">
				<p>POR vs LAC</p>
			</div>
			<div class="gm--img">
				<div class="gm--fill">
					<div class="gm--tms flx-btwn">
						<div class="gm--tag flx-arnd">
							<div class="gm--logo">
								<img class="gm--logo-img" src="./assets/logo.png">
							</div>
							<div class="gm--tm">
								<div class="gm--wtch">
									<p>WATCH</p>
								</div>
								<div class="gm--fans">
									<p>fans</p>
								</div>
							</div>
						</div>
						<div class="gm--tag flx-arnd">
							<div class="gm--tm">
								<div class="gm--wtch">
									<p>WATCH</p>
								</div>
								<div class="gm--fans">
									<p>fans</p>
								</div>
							</div>
							<div class="gm--logo">
								<img src="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="selectTeamHeader">
	<p>Playing Tonight</p>
	<h3>Choose a game</h3>
</div>

<div class="row card" ng-repeat="game in games" ng-click="viewStreams(game.teamNames)">
	<div class="column text-center">
		<img ng-src={{game.logo[0]}} />
		<h4>{{game.teamNames[0]}}</h4>
		<h5>{{game.scores[0]}}</h5>
	</div>
	<div class="column text-center">
	VS <br /> {{game.status}}
	</div>
	<div class="column text-center">
		<img ng-src={{game.logo[1]}} />
		<h4>{{game.teamNames[1]}}</h4>
		<h5>{{game.scores[1]}}</h5>
	</div>
</div>

<div class="row card" ng-show="!games.length">There are no games tonight</div>

<!-- <pre>{{games | json}}</pre> -->

<button ng-click='action()'>Button</button>
<button ui-sref="select">Back</button>
