<div class="row card" ng-repeat="game in games" ng-click="viewStreams(game.teamNames)">
	<div class="column text-center">
		<img ng-src={{game.logo[0]}} />
		<h4>{{game.teamNames[0]}}</h4>
		<h5>{{game.scores[0]}}</h5>
	</div>
	<div class="column text-center">
	VS <br /> {{game.status}}
	</div>
	<div class="column text-center">
		<img ng-src={{game.logo[1]}} />
		<h4>{{game.teamNames[1]}}</h4>
		<h5>{{game.scores[1]}}</h5>
	</div>
</div>

<div class="row card" ng-show="!games.length">There are no games tonight</div>

<!-- <pre>{{games | json}}</pre> -->

<button ng-click='action()'>Button</button>