<div class="selectTeamHeader">
	<p>Playing Tonight</p>
	<h3>Choose Your Team</h3>
</div>

<div class="carousel" ng-controller="SelectController as cs">
  <div class="controls">
  	<a class="prev" ng-click="cs.prev()"><</a>
  	<a class="next" ng-click="cs.next()">></a>
  </div>
  <div class="window">
    <div class="pane" ng-repeat="(key,src) in cs.images" ng-class="cs.position(key)">
    	<img height="300" width="300" ng-src="{{src.logo}}"/>
    </div>
  </div>
</div>

<div class="fixed-bottom">
    <div class="block -berry edge-top-right">
      <button class="watch-button" ui-sref="home">Watch</button>
    </div>
</div>

<button ui-sref="splash">Splash</button>
<button ui-sref="rep-team">Choose team</button>
<button ui-sref="select">Back</button>
